body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content__principal {
    background-color: rgb(224, 80, 80);
    height: 100vh;
}
.content {
    width: 30%;
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.task {
    &__title {
        margin: 0;
        color: white;
        font-size: 30px;
        font-weight: bolder;
        padding: 20px 0;
    }
    &__content {
        display: flex;
        justify-content: center;
        &-space {
            border: 0;
            outline: none;
            padding: 17px 18px;
            width: 82%;
            font-size: 20px;
        }
        &-button {
            background-color: white;
            border: 0;
            outline: none;
            cursor: pointer;
            color: #1da1f2;
            font-size: 20px;
            padding-right: 13px;
        }
    }
}
.list {
    background-color: white;
    position: relative;
    margin: 20px 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 17px 37px 50px 37px;
    &__item {
        font-size: 17px;
        border-bottom: solid #1da1f2;
        width: 100%;
        text-align: left;
        padding: 14px 0;
        color: rgb(102, 101, 101);
        &-x {
            margin-right: 8px;
            background-color: rgb(224, 80, 80);
            padding: 0 7px 2px 7px;
            color: white;
            cursor: pointer;
        }
    }
    &__clear {
        margin-top: 10px;
        border: transparent;
        background-color: white;
        color: rgb(224, 80, 80);
        font-size: 17px;
        position: absolute;
        right: 40px;
        bottom: 12px;
        cursor: pointer;
        outline: none;
        &:hover {
            background-color: rgb(224, 80, 80);
            color: white;
            border-radius: 20px;
            font-weight: bolder;
        }
    }
}